body {
    height: 100vh;
    letter-spacing: 1.5px;
}

.container-fluid {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    height: 100vh;
}

.button-bar {
    position: relative;
    margin-top: 5px;
    margin-bottom: 15px;
}

.logo-center {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.nav-button {
    margin-left: 10px;
    margin-top: 10px;
    background: black;
    color: white;
    border: black;
}

.float-right {
    float: right;
}

.pad-right {
    margin-right: 10px;
}

.main-container {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: top;
    flex: 8;
    background-size: cover;
    background-position: center;
    background-image: url('https://hd.unsplash.com/photo-1445364502257-00c4ddb9b18d');
    position: relative;
}

.blurred-container {
    background: rgba(255,255,255,.95);
    margin-top: 50px;
    display: flex;
    justify-content: center;
    height: 350px;
    width: 600px;
}

.blurred-container-about {
    background: rgba(255,255,255,.95);
    margin-top: 20px;
    display: flex;
    justify-content: center;
    height: 300px;
    width: 600px;
}

.blurred-container-food-result {
    background: rgba(255,255,255,.95);
    margin-top: 10px;
    height: 500px;
    width: 600px;
}

.blurred-container-vote-survey {
    background: rgba(255,255,255,.95);
    margin-top: 20px;
    height: 400px;
    width: 600px;
}

.blurred-container-restaurant {
    background: rgba(255,255,255,.95);
    margin-top: 20px;
    display: flex;
    justify-content: center;
    height: 510px;
    width: 600px;
}

.Select-control {
    background-color: black !important;
}

.is-open, .Select-option, .Select-menu-outer {
    background-color: black;
    color: white;
}

.Select-placeholder, .Select-value-label {
    color: white !important;
}

.main-content {
    font-size: 1.5em;
    width: 60%;
    margin-top: 60px;
    text-align: center;
    position: relative;
    color: black;
}

.result-content {
    display: flex;
    justify-content: center;
}

.vote-survey-content {
    font-size: 1.5em;
    color: black;
    margin: 20px;
    position: relative;
    text-align: center;
}

.about-content {
    margin-top: 20px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-content h1 {
    font-size: 3em;
}

.about-content p {
    font-size: 1.5em;
}

.definition-container {
    text-align: left;
    margin-bottom: 40px;
}

.definition {
    margin-left: 20px;
}

.vote-survey p {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    margin-top: 5px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.arrow {
    position: absolute;
    left: 80px;
    top: 220px;
    font-size: 5em;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.arrow:hover {
    color: black;
    cursor: pointer;
}

.main-content p {
    color: black;
    letter-spacing: 2px;
    font-size: 2em;
    margin-bottom: 35px;
}

.error-message {
    font-size: 1em;
    color: red;
}

.main-button {
    color: white;
    margin-top: 15px;
    border: black;
    background: black;
}

.main-button:hover {
    background: grey;
    color: white;
}

.food-result {
    margin-top: 20px;
    width: 300px;
    font-size: 1em;
}

.food-image {
    height: 300px;
    width: 300px;
}

.vote-confirm {
    color: black;

}

.voted-for {
    font-style: italic;
    color: white;
    margin-top: 20px;
    background: black;
    margin-top: 5px;
}

.input-bar {
    background-color: black;
    border-color: #d9d9d9 #ccc #b3b3b3;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: white;
    cursor: default;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    height: 36px;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;
    text-align: center;
}

.login-bar {
    margin-top: 5px;
}

.spinner {
    height: 200px;
    width: 200px;
}

.restaurant-content {
    margin-top: 5px;
}

.restaurant-results {
    margin-top: 40px;
    overflow-y: scroll;
    max-height: 60%;
}

.restaurant-result {
    margin: 10px;
    border: 2px solid white;
    background-color: white;
    width: 90%;
    color: black;
}

.restaurant-result:hover {
    border: 2px solid black;
    border: 2px solid grey;
    cursor: pointer;
}

.chosen {
    background: white;
    color: black;
}

.creators {
    display: flex;
}

.creator {
    text-align: center;
    margin: 20px;
}

.creator p {
    background: rgba(255, 255, 255, .95);
    color: black;
    visibility: hidden;
}

.creator:hover p {
    visibility: visible;
}

.creator-image {
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

