body {
    height: 100vh;
}

.container-fluid {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    height: 100vh;
}

.button-bar {
    position: relative;
    margin-top: 5px;
    margin-bottom: 15px;
}

.logo-center {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.nav-button {
    margin-left: 10px;
    margin-top: 10px;
    background: black;
    color: white;
    border: black;
}

.float-right {
    float: right;
}

.pad-right {
    margin-right: 10px;
}

.main-container {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: top;
    flex: 8;
    background-size: cover;
    background-position: center;
    background-image: url('https://hd.unsplash.com/photo-1445364502257-00c4ddb9b18d');
    position: relative;
}

.main-container-food-result {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: top;
    flex: 8;
    background-size: cover;
    background-position: center;
    background-image: url('../blurred-background.jpg');
    position: relative;
}

.blurred-container {
    background: rgba(255,255,255,.85);
    margin-top: 50px;
    display: flex;
    justify-content: center;
    height: 350px;
    width: 600px;
}

.blurred-container-food-result {
    background: rgba(255,255,255,.85);
    margin-top: 10px;
    display: flex;
    justify-content: center;
    height: 400px;
    width: 350px;
}

.blurred-container-vote-survey {
    background: rgba(255,255,255,.85);
    margin-top: 5px;
    display: flex;
    justify-content: center;
    height: 400px;
    width: 500px;
}

.Select-control {
    background-color: black !important;
}

.is-open, .Select-option, .Select-menu-outer {
    background-color: black;
    color: white;
}

.Select-placeholder, .Select-value-label {
    color: white !important;
}

.main-content {
    font-size: 1.5em;
    width: 60%;
    margin-top: 150px;
    text-align: center;
    position: relative;
}

.result-content {
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.vote-survey-content {
    font-size: 1.5em;
    color: black;
    width: 40%;
    margin-top: 150px;

    position: relative;
    text-align: center;
}

.about-content {
    margin-top: 150px;
    text-align: center;
    color: black;
}

.vote-survey p {
    font-size: 1.5em;
    margin-top: 5px;
}

.arrow {
    position: absolute;
    left: 80px;
    top: 220px;
    font-size: 5em;
    color: white;
}

.arrow:hover {
    color: black;
    cursor: pointer;
}

.main-content p {
    color: black;
    letter-spacing: 2px;
    font-size: 2em;
    margin-bottom: 35px;
    font-size: 2em;
}

.error-message {
    font-size: 1em;
    color: red;
}

.main-button {
    margin-top: 40px;
    border: black;
    background: black;
    color: white;
}

.main-button:hover {
    background: grey;
    color: white;
}

.food-result {
    width: 300px;
    font-size: 1em;
}

.food-image {
    height: 300px;
    width: 300px;
}

.vote-confirm {
    color: black;
}

input {
    background: black;
    color: white;
    text-align: center;
    margin-top: 10px;
}

.login-button {
    margin-top: 5px;
    border: black;
    background: black;
    color: white;
}

::-webkit-input-placeholder {
  color: white;
  text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
  text-align: center;
}
